accepteula
{% if clearpart %}{{clearpart}}{% endif -%}
{{install}}
rootpw {{rootpw}}
network --bootproto=static --addvmportgroup=true --device={{vmnicid}} --ip={{ipaddr}} --netmask={{netmask}} --gateway={{gateway}} --hostname={{hostname}} --nameserver=208.67.222.222,208.67.220.220
reboot

{% if pre_section %}{{pre_section}}{% endif -%}

%firstboot --interpreter=busybox
{% if set_def_gw %}{{set_def_gw}}{% endif -%}
{% if enable_ssh %}{{enable_ssh}}{% endif -%}
{% if disable_ipv6 %}{{disable_ipv6}}{% endif -%}
echo "`date` - Server `hostname` installation finished." >/usr/lib/vmware/hostd/docroot/READY
sleep 75
reboot
