{% extends 'base.html' %}

{% block metarefresh %}
  <meta http-equiv="refresh" content="5"/>
{% endblock %}

{% block content %}
  <div class="content_section">
    <h1>Services status</h1>
    <table>
        <tr style="font-weight:bold;background-color:#D8DBE2">
            <td width="100px"> Service </td>
            <td width="250px"> Status </td>
        </tr>
        {% for service, status in services.items() %}
        <tr>
          <td><a href="{{ url_for('service_details', service_name = service) }}">{{ service }}</a></td>
          {% if 'Running' in status %}
              <td style="color:green">{{ status }}</td>
          {% else %}
              <td style="font-weight:bold;color:red">{{ status }}</td>
          {% endif %}
        </tr>
        {% endfor %}
    </table>
  </div>
  <div class="content_section">
    <a href="{{ url_for('autoinstaller_gui') }}">Back to the main page</a>
  </div>
{% endblock %}
