
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Cisco Learning Labs VMware Auto-Installer</title>
    <link rel="stylesheet" href="static/css/styles.css">
  </head>
    <body>
      <div class="main_page">
        <div class="logo">
          <img src="static/cisco-logo.png" alt="Cisco Logo"/>
        </div>
        <div class="page_header">
           Welcome to Cisco Learning Labs <br />VMware Auto-Installer<br />(v0.8alpha 2020-12-16)
        </div>

        <div class="content_section">
          <h1>Debugging info</h1>
	     {% for key,value in install_data.items() %}
               <div class="content_section_text">
	 	 {{key}} : {{value}}
	       </div>
 	     {% endfor %}
	</div>
	<div class="content_section">
          <h1>Ready to deploy the server - power on the machine and grab a cup of coffee.</h1>
	</div>

      </div>
    </body>
</html>
