
### custom entries for {{hostname}} ###
subnet {{subnet}} netmask {{netmask}} {
  range {{ipaddr}};
  option routers {{gateway}};
}
host {{hostname}} {
  hardware ethernet {{macaddr}};
  fixed-address {{ipaddr}};
}
### end of custom entries for {{hostname}} ###

