
### custom entries for {{hostname}} ###
host {{hostname}} {
  hardware ethernet {{macaddr}};
  fixed-address {{ipaddr}};
  option routers {{gateway}};
}
### end of custom entries for {{hostname}} ###
