{% extends 'base.html' %}

{% block stylesheet %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock stylesheet %}

{% block content %}
      <div class="content_section">
        <h1>Step 1</h1>
        <div class="content_section_text">
          Set your ESXi Installation Options
        </div>

        <form action="" method="POST">
            <table>
                <tr>
                    <td>Select your ISO Image: </td>
                    <td>
                      <select name="iso_image" id="iso_image">
                        {% for isover in isodirs %}
                          <option value="{{isover}}" checked>{{isover}}</option>
                        {% endfor %}
                      </select>
                    </td>
                    <td>Specify which image your ESXi server will boot from. If the image you need is not listed, you can <a href="{{ url_for('upload_iso') }}">upload your own ISO</a>.</td>
                </tr>
                <tr>
                    <td>ESXi root password: </td>
                    <td>
                      <input type="password" name="root_pwd" id="root_pwd" required value="">
                      <div class="content_section_text_small">
                        <label for="show_root_pass">Show password</label>
                        <input id="show_root_pass" name="show_root_pass" type="checkbox" value="y">
                      </div>
                    </td>
                    <td>Enter the password for the root account.</td>
                </tr>
                <tr>
                    <td>Mgmt VLAN ID: </td><td><input type="number" name="vlan" value='0' max=4094><br /><div class="content_section_text_small">Optional</div></td>
                    <td>If your mgmt interface requires a VLAN tag add it here. Otherwise set to 0 for no VLAN.</td>
                </tr>
                <tr>
                    <td>Mgmt VMNic: </td>
                    <td><input type="number" name="vmnic" required value='0' max=99></td>
                    <td>Select which VMNic is going to be the Mgmt Nic.<br />
                      Normally this is set to 0 for VMNic0, but you can specify a different VMNic here.</td>
                </tr>
                <tr>
                    <td>Install Disk: </td>
                    <td>
                        <input type="radio" id="firstdisk" name="firstdisk" value="firstdiskfound" checked oninput="InstallDiskShow('')">
                        <label for="firstdisktype">First Disk Found (Default)</label><br />
                        <input type="radio" id="firstdisk" name="firstdisk" value="firstdisk" oninput="InstallDiskShow('firstdisk')">
                        <label for="firstdisktype">First Disk of a certain type</label><br />
                        <div id="FistDiskTypeControls" class="hide">
                            - - <select name="firstdisktype" id="firstdisktype">
                                <option value="local">Locally attached storage</option>
                                <option value="remote">Network storage</option>
                                <option value="usb" checked>USB Disks</option>
                            </select><br />
                          </div>
                        <input type="radio" id="firstdisk" name="firstdisk" value="diskpath" oninput="InstallDiskShow('disk')">
                        <label for="firstdisk">Use a specific disk</label><br />
                        <div id="DiskPathTypeControls" class="hide">
                            - - <input type=text name='diskpath' id='diskpath' value=''><br />
                              Enter disk path<br />
                        </div>
                    </td>
                    <td>You can specify a particular disk to install ESXi into.</td>
                </tr>
                <tr>
                  <td>Enable SSH? </td>
                  <td><input type="checkbox" name="enablessh" checked></td>
                  <td>If checked, SSH will be enabled on the ESXi.</td>
                </tr>
                <tr>
                  <td>Erase existing partition? </td>
                  <td><input type="checkbox" name="clearpart"></td>
                  <td>If checked, the disk will be erased before ESXi is installed.</td>
                </tr>
                <!--
                <tr>
                  <td>Overwrite existing VMFS partitions? </td><td><input type="checkbox" value="overwritevmfs" name="overwritevmfs"></td>
                  <td>If checked, ESXi will install over a pre-existing ESXi installation. If "Erase existing partition?" is selected, it will also erase partitions even if there is a pre-existing VMFS partition.</td>
                </tr>
                -->
            </table>
            <h1>Step 2</h1>
            <div class="content_section_text">
              Select installation method:<br /><br />
              <input type="radio" id="customiso" name="installmethod" value="cimc" checked>
              <label for="customiso">Mount installation ISO with CIMC (Cisco UCS only)</label><br />
              <input type="radio" id="pxeboot" name="installmethod" value="pxeboot">
              <label for="pxeboot">PXE Boot</label><br />
            </div>
            <h1>Step 3</h1>
            <div class="content_section_text">
              Enter network information for the ESXi hosts:<br /><br />
            </div>
            Does ESXi require static routes at boot time?
            <input type="radio" id="static_routes_set" name="static_routes_set" value="True"  oninput="StaticRoutesShow('True')">Yes
            <input type="radio" checked id="static_routes_set" name="static_routes_set" value="False" oninput="StaticRoutesShow('False')">No<br />
            <div id="static_routes" class="hide50">
              <Table  id="static_route_table" class="custom">
                <tr>
                  <td class="static_nopadding">Subnet Address<br /><input type="text" name="subnet_ip0" id="subnet_ip0">/</td>
                  <td class="static_nopadding">Mask<br /><input type="number" name="cidr0" id="cidr0" value="24" min="0" max="32" size="4"></td>
                  <td class="static_padding10">Gateway<br /><input type="text" name="gateway0" id="gateway0"></td>
                </tr>
              </Table>
              <input type="button" value="Add Route" onclick="AddStaticRoute()" class="margin50">
              <input type="button" value="Delete Last Route" onclick="RemoveStaticRoute()" class="margin50">
            </div>
            <br />
            <br />
            <!--How do you want to enter your IP Addresses?<br />
            <input type="radio" id="IPList" name="IPList" value="Manual" Checked oninput="IPListShow('ManualIP')">
            <label>Manual Entry</label><br />
            <input type="radio" id="IPList" name="IPList" value="CSV" oninput="IPListShow('CSV')">
            <label>CSV Spreadsheet</label><br />
            <br />-->
            <div ID="ManualIP" class="margin50">
              Common Settings:<br />
              <table class="custom">
                <tr class="custom">
                    <td class="custom">
                        CIMC Account<br/>
                        <input type="text" required name="cimc_usr" id="cimc_usr" value="admin">
                    </td>
                    <td class="custom">
                        CIMC Password<br/>
                        <input type="password" required name="cimc_pwd" id="cimc_pwd">
                        <div class="content_section_text_small">
                          <label for="show_cimc_pass">Show password</label>
                          <input id="show_cimc_pass" name="show_cimc_pass" type="checkbox" value="y">
                        </div>
                    </td>
                </tr>
                <tr>
                  <td class="custom">Netmask<br />
                    <input type="text" required name="host_netmask" value="255.255.255.0"></td>
                  <td class="custom">Gateway<br />
                    <input type="text" required name="host_gateway"></td>
                  <td class="custom">DNS 1<br />
                    <input type="text" name="dns1" id="dns1" placeholder="208.67.222.222"><br />
                    <div class="content_section_text_small">Optional</div></td>
                  <td class="custom">DNS 2<br />
                    <input type="text" name="dns2" id="dns2" placeholder="208.67.220.220"><br />
                    <div class="content_section_text_small">Optional</div></td>
                </tr>
                <tr>
                  <td class="custom">Hostname Prefix<br />
                    <input type="text" name="host_prefix" id="host_prefix" oninput="UpdateESXiHostName()"><br />
                    <div class="content_section_text_small">Optional</div></td>
                  <td class="custom">Hostname Suffix<br />
                    <input type="text" name="host_suffix" id="host_suffix" oninput="UpdateESXiHostName()"><br />
                    <div class="content_section_text_small">Optional</div></td>
                </tr>
              </table>
              <br />
              Unique Settings:
              <table id="ManualIPTable" class="manual_ip">
                <tr>
                  <td class="manual_ip_header_sm">Prefix</td>
                  <td class="manual_ip_header">ESXi Hostname</td>
                  <td class="manual_ip_header_sm">Suffix</td>
                  <td class="manual_ip_header">Mgmt ESXi IP</td>
                  <td class="manual_ip_header">CIMC IP Address</td>
                </tr>
              </table>
              <input type="button" value="Add Row" onclick="AddManualIPRow()" class="margin50">
              <input type="button" value="Delete Last Row" onclick="RemoveManualIPRow()" class="margin50">
            </div>
            <!--<Div id='CSV' class="hide50">
              <div class="content_section_text">
                Upload a CSV file
              </div>
              <div class="margin50">
              <input type="text" value="c:\Documents\IPList.csv"> <input type="button" value="Browse"><br />
              <a href="">Download Sample File</a>
              <br /><br /><br /><br /><br /><br /><br /><br />
              </div>
            </Div>-->
            <!--h1>Step 3 (optional)</!--h1>
            <div class="content_section_text">
              Run console commands on first boot:
            </div>
            <textarea id="firstbootscript" cols="82" rows="4"></textarea>
            <div-- class="content_section_text_small">
              If needed, you can enter commands that will be run on the ESXi server the first time it boots up.
            </div-->
            <!--<h1>Step 3</h1>-->
            <div class="content_center">
                <button class="button button3" type="submit" formaction="" formmethod="POST">START</button>
            </div>
          </form>
        </div>
{% endblock %}

{% block scripts %}
    <script>
      //create first row in Manual IP Address table
      ServerCount = 0 // Find usage will increment to 1.
      AddManualIPRow()

      ///// CUSTOM FORM VALIDATION MESSAGES /////

      //custom validation message for ROOTPW field
      const input_root = document.querySelector('input[name="root_pwd"]');
      input_root.addEventListener('invalid', function (event) {
        if (event.target.validity.valueMissing) {
          event.target.setCustomValidity('Enter root password');
        }
      })
      input_root.addEventListener('change', function (event) {
        event.target.setCustomValidity('');
      })

      //custom validation message for VMNIC field
      const input_vmnic = document.querySelector('input[name="vmnic"]');
      input_vmnic.addEventListener('invalid', function (event) {
        if (event.target.validity.valueMissing) {
          event.target.setCustomValidity('Enter VMNIC ID');
        }
      })
      input_vmnic.addEventListener('change', function (event) {
        event.target.setCustomValidity('');
      })

      //custom validation message for DiskPath field
      // var naa_field = document.getElementById("DiskPathTypeControls");
      // console.log(window.getComputedStyle(naa_field).display)
      // console.log(document.activeElement)
      // if (window.getComputedStyle(naa_field).display === "none") {
      //   console.log('DiskPathTypeControls NOT visible')
      // }
      // else {
      //   console.log('DiskPathTypeControls is visible')
      // }

      const input_naa = document.querySelector('input[name="diskpath"]');
      input_naa.addEventListener('invalid', function (event) {
        if (event.target.validity.valueMissing) {
          event.target.setCustomValidity('Enter disk path, eg. naa.500a6ca3de6ed1bd');
        }
      })
      input_naa.addEventListener('change', function (event) {
        event.target.setCustomValidity('');
      })


      //custom validation message for StaticSubnet field
      var input_statsub = document.querySelector('input[name^="subnet_ip"]');
      console.log(input_statsub.length)
      input_statsub.addEventListener('invalid', function (event) {
        if (event.target.validity.valueMissing) {
          event.target.setCustomValidity('Enter static route subnet, eg. 10.10.10.0');
        }
      })
      input_statsub.addEventListener('change', function (event) {
        event.target.setCustomValidity('');
      })

      //custom validation message for StaticMask field
      const input_statmask = document.querySelector('input[name^="cidr"]');
      input_statmask.addEventListener('invalid', function (event) {
        if (event.target.validity.valueMissing) {
          event.target.setCustomValidity('Enter static route network CIDR mask, eg. 24');
        }
      })
      input_statmask.addEventListener('change', function (event) {
        event.target.setCustomValidity('');
      })

      //custom validation message for StaticGateway field
      const input_statgw = document.querySelector('input[name^="gateway"]');
      input_statgw.addEventListener('invalid', function (event) {
        if (event.target.validity.valueMissing) {
          event.target.setCustomValidity('Enter static route gateway, eg. 10.10.10.254');
        }
      })
      input_statgw.addEventListener('change', function (event) {
        event.target.setCustomValidity('');
      })


      //custom validation message for CIMCUSR field
      const input_usr = document.querySelector('input[name="cimc_usr"]');
      input_usr.addEventListener('invalid', function (event) {
        if (event.target.validity.valueMissing) {
          event.target.setCustomValidity('Enter CIMC Username');
        }
      })
      input_usr.addEventListener('change', function (event) {
        event.target.setCustomValidity('');
      })

      //custom validation message for CIMCPWD field
      const input_pass = document.querySelector('input[name="cimc_pwd"]');
      input_pass.addEventListener('invalid', function (event) {
        if (event.target.validity.valueMissing) {
          event.target.setCustomValidity('Enter CIMC Password');
        }
      })
      input_pass.addEventListener('change', function (event) {
        event.target.setCustomValidity('');
      })

      //custom validation message for NETMASK field
      const input_netmask = document.querySelector('input[name="host_netmask"]');
      input_netmask.addEventListener('invalid', function (event) {
        if (event.target.validity.valueMissing) {
          event.target.setCustomValidity('Enter ESXi management network mask, eg. 255.255.255.0');
        }
      })
      input_netmask.addEventListener('change', function (event) {
        event.target.setCustomValidity('');
      })

      //custom validation message for GATEWAY field
      const input_gateway = document.querySelector('input[name="host_gateway"]');
      input_gateway.addEventListener('invalid', function (event) {
        if (event.target.validity.valueMissing) {
          event.target.setCustomValidity('Enter ESXi management network gateway, eg. 192.168.1.254');
        }
      })
      input_gateway.addEventListener('change', function (event) {
        event.target.setCustomValidity('');
      })

      //custom validation message for HOSTNAME field
      const input_hostname = document.querySelector('input[name^="hostname"]');
      input_hostname.addEventListener('invalid', function (event) {
        if (event.target.validity.valueMissing) {
          event.target.setCustomValidity('Enter ESXi hostname');
        }
      })
      input_hostname.addEventListener('change', function (event) {
        event.target.setCustomValidity('');
      })

      // custom validation message for IPADDR field
      const input_ipaddr = document.querySelector('input[name^="host_ip"]');
      input_ipaddr.addEventListener('invalid', function (event) {
        if (event.target.validity.valueMissing) {
          event.target.setCustomValidity('Enter ESXi host management IP address, eg. 192.168.1.10');
        }
      })
      input_ipaddr.addEventListener('change', function (event) {
        event.target.setCustomValidity('');
      })

      //custom validation message for CIMCIP field
      const input_cimcip = document.querySelector('input[name^="cimc_ip"]');
      input_cimcip.addEventListener('invalid', function (event) {
        if (event.target.validity.valueMissing) {
          event.target.setCustomValidity('Enter server CIMC IP address, eg. 172.172.1.10');
        }
      })
      input_cimcip.addEventListener('change', function (event) {
        event.target.setCustomValidity('');
      })

      //toggle root password field preview
      window.addEventListener("load", function(){
            var checkbox  = document.getElementById('show_root_pass')
            var x = document.getElementById('root_pwd')
            checkbox.addEventListener('change', function() {
                if(this.checked) {
                    x.type = 'text'
                } else {
                    x.type = 'password'
                }
            });
        });

      //toggle CIMC password field preview
      window.addEventListener("load", function(){
            var checkbox  = document.getElementById('show_cimc_pass')
            var x = document.getElementById('cimc_pwd')
            checkbox.addEventListener('change', function() {
                if(this.checked) {
                    x.type = 'text'
                } else {
                    x.type = 'password'
                }
            });
        });
      </script>
{% endblock %}
