body, html {
    padding: 3px 3px 3px 3px;

    background-color: #D8DBE2;

    font-family: Verdana, sans-serif;
    font-size: 11pt;
    text-align: center;
}

div.main_page {
    position: relative;
    display: table;
    width: 1200px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 0px 0px;
    border-width: 2px;
    border-color: #212738;
    border-style: solid;
    background-color: #FFFFFF;
    text-align: center;
}
div.logo {
    margin: 50px 50px 50px 50px;
}
div.page_header {
    width: 100%;
    margin: 50px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
    font-size: 180%;
    font-weight: bold;
    background-color: #F5F6F7;
    text-align: center;
}
div.version {
    font-size: 65%;
}
div.content_section {
    margin: 10px 20px 10px 20px;
    background-color: #FFFFFF;
    text-align: left;
}
div.content_section_text {
    margin: 10px 10px 10px 0px;
}
div.content_center {
    text-align: center;
}
div.content_center_margin50 {
    margin: 50px 50px 50px 50px;
    text-align: center;
}
div.content_section_text a {
    font-weight: bold;
}
div.content_section_text a:link,
div.content_section_text a:visited,
div.content_section_text a:active {
    background-color: #DCDFE6;
    color: #000000;
}
div.content_section_text a:hover {
    background-color: #000000;
    color: #DCDFE6;
}
div.content_section_text_small {
    font-size: small;
}
div.h1 {
    width: 100%;
    margin: 50px 0px 50px 0px;
    font-size: 180%;
    font-weight: bold;
}
div.menu {
    overflow: hidden;
    background-color: #333;
    width: 100%; /* Full width */
}
div.menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
div.menu a:hover {
    background: #ddd;
    color: black;
}
div.hide {
    display: none;
}
div.hide50 {
    display: none;
    margin-left: 50px;
}
div.margin50 {
    margin-left: 50px;
}

h1.error {
    color: red;
}

pre.display_file {
    white-space: pre-wrap;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
td.ipaddr {
    padding: 5px;
    border-left: None;
    border-right: None;
}
td.hostname {
    padding: 0px;
    border-left: None;
    border-right: None;
}
td.prefix {
    font-size: 8pt;
    padding: 0px;
    padding-left: 5px;
    text-align: right;
    border-left: None;
    border-right: None;
}
td.suffix {
    font-size: 8pt;
    padding: 0px;
    padding-right: 30px;
    text-align: left;
    border-left: None;
    border-right: None;
}
table.manual_ip {
    padding: 50px; 
    margin-left: 50px;
}
td.manual_ip_header_sm {
    font-size: smaller;
    text-align: center;
    border:none;
}
td.manual_ip_header {
    text-align: center;
    border:none;
}
table.custom {
    border: None;
    margin-left: 50px;
}
td.custom {
    border: None;
    padding-left: 0px;
    padding-right: 10px;
    vertical-align: top;
}
td.static_nopadding {
    border: None;
    padding: 0px;
}
td.static_padding10 {
    border: None;
    padding: 10px;
}
tr.status_header {
    font-weight:bold;
    background-color:#D8DBE2;
}

a:link,
a:visited,
a:active {
    color: #000000;
}
a:hover {
    background-color: #000000;
    color: #DCDFE6;
}

input[type=file] {
    width: 600px
}
input.margin50 {
    margin-left: 50px;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button2 {
    width: 50%;
    background-color: #049fd9;
    color: white;
    text-align: center;
}
.button2:hover {
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button3 {
    background-color: #049fd9;
    color: white;
}
.button3:hover {
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}