{% extends 'base.html' %}

{% block content %}

        <!-- Quick'n'dirty "admin console" for easier t-shooting demo version -->
        <div class="content_section">
          <h1>Admin console</h1>
            <div class="content_section_text">
              <form method="POST" action="">
                <table style="border: none;">
                    <tr>
                        <td style="border: none;"><input type="submit" name="submit_button" value="reset configuration"></td>
                        <td style="border: none;">Reset Auto-installer configuration to initial state</td>
                    </tr>
                    <tr>
                        <td style="border: none;"><input type="submit" name="submit_button" value="restart dhcpd"></td>
                        <td style="border: none;">Restart dhcp server</td>
                    </tr>
                </table>
              </form>
           </div>
           <h1 class="error">WARNING! All Auto-installer configuration may be lost!</h1>
           <h1>Current Auto-installer status:</h1>
           <pre>
           {{ details }}
           </pre>
         </div>
	    </div>

{% endblock %}
