accepteula
{% if clearpart %}{{clearpart}}{% endif -%}
{{install}}
rootpw {{rootpw}}
network --bootproto=static --addvmportgroup=true --device={{vmnicid}} {% if vlan not in '0' %}--vlanid={{vlan}} {% endif %}--ip={{ipaddr}} --netmask={{netmask}} --gateway={{gateway}} --hostname={{hostname}}{% if dnsservers != '' %} --nameserver={{dnsservers}}{% endif %}
reboot

{% if pre_section %}{{pre_section}}{% endif -%}

%firstboot --interpreter=busybox
{% if set_def_gw %}{{set_def_gw}}{% endif -%}
{% if enable_ssh %}{{enable_ssh}}{% endif -%}
{% if disable_ipv6 %}{{disable_ipv6}}{% endif -%}
echo -ne "PUT /api/v1/jobs/{{jobid}}?state=20 HTTP/1.0\r\nHost: {{eai_host_ip}}\r\n\r\n" | nc {{eai_host_ip}} 80 >/dev/null 2>&1