{% extends 'base.html' %}

{% block stylesheet %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock stylesheet %}

{% block content %}

        <div class="content_section">
          <h1>Upload ESXi installation ISO</h1>
            <div class="content_section_text">
            <form action="" method="POST" enctype="multipart/form-data">
            <p><input type="file" name="file"></p>
            <p><input type="submit" value="Submit"></p>
            </form>
           </div>
	    </div>

{% endblock %}
